{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div class="logos-marquee" id="marquee" role="region" aria-label="Logo marquee">
    <div class="marquee-container" id="marqueeContainer" role="list">
        <div class="marquee-item" id="patagonia-logo" role="listitem">Patagonia</div>
        <div class="marquee-item" id="timberland-logo" role="listitem">Timberland</div>
    </div>
</div>