{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}

<div class="example1">
    <span>
      <a href="#">Titolo lungo 1</a>
      <a href="#">Titolo lungo 2</a>
      <a href="#">Titolo lungo 3</a>
      <a href="#">Titolo lungo 4</a>
      <a href="#">Titolo lungo 5</a>
    </span>
  </div>


