{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}

<div class="example1">
    <span>
      <a href="#">Titolo molto molto molto molto lungo 1</a>
      <a href="#">Titolo molto molto molto molto lungo 1 2</a>
      <a href="#">Titolo molto molto molto molto lungo 1 3</a>
      <a href="#">Titolo molto molto molto molto lungo 1 4</a>
      <a href="#">Titolo molto molto molto molto lungo 1 5</a>
    </span>
  </div>


