{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}

<div class="example1">
    <span class='loghi'>
      <a href="#"><img src="/snippets/loghi/patagonia.png" width="200px" height="100px" ></a>
      <a href="#">Title 2</a>
      <a href="#">Title 3</a>
      <a href="#">Title 4</a>
      <a href="#">Title 5</a>
    </span>
  </div>


