{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div class="logos-marquee" id="marquee" role="region" aria-label="Logo marquee">
    <div class="marquee-container" id="marqueeContainer" role="list">
        <div class="marquee-item" id="patagonia-logo" role="listitem"><a href="/collections/patagonia">
                <img src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/Patagonia-logo.svg?v=1707821971"
                    alt="Patagonia"></a>
        </div>
        <div class="marquee-item" id="timberland-logo" role="listitem"><a href="/collections/timberland">
                <img src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/Timberland-logo.png?v=1707818171"
                    alt="Timberland"></a>
        </div>
        <div class="marquee-item" id="thenorthface-logo" role="listitem">
            <img src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/North-Face-Logo.png?v=1707830926"
                alt="The Nort face">
        </div>
        <div class="marquee-item" id="riddler-logo" role="listitem"><a href="https://www.rataalada.com/">
                <img src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/riddler-logo.png?v=1707834593"
                    alt="Riddler"></a>
        </div>
    </div>
</div>