{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div id="logos-marquee" class="marquee-container">
    <span style="white-space:nowrap;">
    
        <div href="/collections/patagonia">Patagonia</div>
        <div href="/collections/timberland">Timberland</div>

    </span>
</div>
