{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div class="logos-marquee" id="marquee" role="region" aria-label="Logo marquee">
    <div class="marquee-container" id="marqueeContainer" role="list">
        <div class="marquee-item" id="patagonia-logo" role="listitem">
            <img src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/Patagonia-logo.svg?v=1707821971" alt="Patagonia">
        </div>
        <div class="marquee-item" id="timberland-logo" role="listitem">Timberland</div>
        <div class="marquee-item" id="thenorthface-logo" role="listitem">The North Face</div>
        <div class="marquee-item" id="arcteryx-logo" role="listitem">Arc'teryx</div>
    </div>
</div>