{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div id="logos-marquee" class="marquee-container" style="white-space:nowrap;">
    <img height="40px" src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/Patagonia-logo.svg" alt="">
    <img height="40px" src="https://cdn.shopify.com/s/files/1/0858/2817/4138/files/Timberland-logo.png?v=1707818171" alt="">
</div>
