{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}

<div class="example1">
    <span class='loghi'>
      <a href="https://riccardo-lotto-dev-store.myshopify.com/collections/patagonia">Patagonia</a>
      <a href="https://riccardo-lotto-dev-store.myshopify.com/collections/timberland">Timberland</a>

    </span>
  </div>


