{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div class="swiper-container">
  <div class='swiper-wrepper'>
    <div class="swiper-slide">Patagonia</div>
    <div class="swiper-slide">Timberland</div>
  </div>
</div>


