{{ 'infinite-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'infinite-slideshow.js' | asset_url | script_tag }}

<div id="latest-news" class="marquee">
    <span style="white-space:nowrap;">
        <span>&nbsp;&bull;&nbsp;</span>
        <a href="#">Explore the hidden wonders of nature</a>
        <span>&nbsp;&bull;&nbsp;</span>
        <a href="#">Ignite your passion for creativity</a>
        <span>&nbsp;&bull;&nbsp;</span>
        <a href="#">Embrace the journey, not just the destination</a>
        <span>&nbsp;&bull;&nbsp;</span>
        <a href="#">Discover the magic in everyday moments</a>
        <span>&nbsp;&bull;&nbsp;</span>
        <a href="#">Chase your dreams with fearless enthusiasm</a>
    </span>
</div>
