.logos-marquee {
    margin: 20px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.marquee-item {

    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    

}

.marquee-item img {
    max-height: 100px;
}