:root {
    --items-per-page: 4;
}

.logos-marquee {
    margin: 20px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-container {
    white-space: nowrap;
}

.marquee-item {
    display: inline-block;
    min-width: calc(100% / var(--items-per-page));
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;

    img {
        max-height: 100px;
    }
}