:root {
    --items-per-page: 5;
}

.logos-marquee {
    margin: 20px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-container {
    white-space: nowrap;
}

.marquee-item {


    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.marquee-item img {
    max-height: 100px;
    max-width: calc(100% / var(--items-per-page));
}